/*  Add this file to the page if its a full screen design
    It adds height:100% to all wrapping divs up to our content
*/
@include desktop() {

  html, body {
    height: 100%;
  }

  #top_wrapper {
    height: 100%;
  }
  
  div#wrapper {
    height: 100%;
  }

  div#content {
    height: 100%;
  }

  div#main-content {
    height: 100%;
  }

  .portlet-layout {
    height: 100%;
  }

  div#column-1 {
    height: 100%;
  }

  div#layout-column_column-1 {
    height: 100%;
  }

  #main-content div.portlet-boundary {
    height: 100%;
  }

  .portlet-borderless-container {
    height: 100%;
  }

  .portlet-body {
    height: 100%;
  }

  .journal-content-article {
    height: 100%;
  }

  div#campaignContainer {
    height: 100%;
  }
}