/* CHAT PLUGIN */
#ifrChat {
  display: block;
}

// INPUTS
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgrey !important;
  direction: rtl !important;
  text-align: right !important;
  font-family: Arial, sans-serif !important;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: darkgrey !important;
  text-align: right !important;
  direction: rtl !important;
  font-family: Arial, sans-serif !important;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: darkgrey !important;
  text-align: right !important;
  direction: rtl !important;
  font-family: Arial, sans-serif !important;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: darkgrey !important;
  text-align: right !important;
  direction: rtl !important;
  font-family: Arial, sans-serif !important;
  opacity: 1;

  .input-field {
    box-sizing: border-box;
  }
}

/* COLORS */
.background-color{
  background: red;
}

#popup_link {
  text-decoration: none;
}

/*LAYOUT*/
html, body {
  width: 100%;
  overflow-x: hidden;
}

.eng {
  font-family: typographregular, sans-serif;
}

.mobile {
  display: block;
}

#top_wrapper {
  direction: rtl;
  font-family: typograph2, sans-serif;
  width: 100%;
  position: relative;
  background-size: 100%;

  h1, h2, h3, h4, h5, p, li {
    font-family: typograph2, sans-serif !important;
  }

  a {
    img {
      display: block;
      width: 100%;
    }
  }

  input[type="submit"], button {
    text-shadow: none;
  }

}

.ie #top_wrapper {
  overflow: hidden;
}

@include desktop() {

  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  input:focus, a:focus, select:focus, label:focus, button:focus, div:focus {
    outline: 2px solid  $light-blue !important;
  }

}

@include landscape() {
  #top_wrapper {

  }
}

