/* Hide some stuff added by bezeqint */
div#divInteractiveNavigatorIframe {
  display: none;
}

div#cb_divChatIframe {
  display: none;
}

div#divContactUsIframe {
  display: none;
}

.ios-a2hs-cont {
  display: none;
}