#thanks {
  /* its best to have #thanks and the form with the same parent, so we can simply cover the form with the thanks */
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95%;
  background: $white;




}

/* in the thanks page, the #top_wrapper will have the class thanks */
.thanks #thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 3em;
  @include desktop(){
    justify-content: space-between;
    padding: 0.9em;
    font-size: 1.2em;
    line-height: 1.1;

    .logo-bbl{
      width: 6.3em;
    }
  }


}
