<!-- build:devcss -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="dist/scripts/lib/jquery-1.9.1.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="src/css/lib/main.css">
<!-- endBuild -->

<script src="dist/scripts/lib/parsley.min.js"></script>
<script src="dist/scripts/script.js?v=CLIENT_VERSION&minifierType=js"></script>
<script src="dist/scripts/bbl_leads.js?v=CLIENT_VERSION&minifierType=js"></script>

<div id="top_wrapper">

    <div class="main-container">
        <section class="content-container">
            <img class="logo-bbl mobile" src="src/images/white-logo-mobile.png" alt="Bezeq Int.">
            <div class="empty"></div>
            <header class="page-header">
                <h1 class="header-title">חווית הגלישה שלכם הולכת להשתנות!</h1>
                <div class="fiber-logo-container">
                    <img class="fiber-logo mobile" src="src/images/FIBER+.png" alt="Fiber+">
                    <img class="fiber-logo desktop" src="src/images/FIBER+.png" alt="Fiber+">
                </div>

                <div class="content-wrapper">
                    <hr class="line">
                    <h3 class="content-title">אינטרנט הסיבים של בזק בינלואמי לגלישה עוצמיתית במהירות של עד 1 ג׳יגה </h3>
                    <hr class="line">
                    <h2 class="content-subtitle">הצטרפו עכשיו ותיהנו מספק + תשתית</h2>
                    <h3 class="content-description">רק ב-<span class="price">
                    <span class="currency">₪</span>120</span>&nbsp לחודש
                    </h3>
                </div>
            </header>
            <div class="bottom-text desktop">
                <h4>החל מחודש 25 ב-140ש״ח לחודש. לא כולל ציוד והתקנה. השירות הינתן בהתאם להיתכנות בתשתית בזק. בכפוף תקנון  </h4>
            </div>
            <div class="call mobile">
                <a href="tel:03-3034499" id="c2c" class="button maskyoom c2c mobile">
                    לשיחה עם נציג
                </a>
            </div>

        </section>
        <div class="bg-container"></div>
        <section class="form-container">
            <img class="logo-bbl desktop" src="src/images/bbl-black-logo.png" alt="Bezeq Int.">

            <div class="form-wrapper">
                <div class="form-text">
                    <h2 class="form-title mobile">רוצים לשדרג את חווית הגלישה?</h2>
                    <h2 class="form-title desktop">לשדרוג חווית הגלישה</h2>
                    <h3 class="form-subtitle mobile">השאירו פרטים ונחזור אליכם:</h3>
                    <h3 class="form-subtitle desktop">השאירו פרטים או חייגו</h3>
                    <h3 class="form-subtitle desktop"> 03-3034504</h3>
                </div>

                <form action="" id="lead_form" method="post" target="leadformtarget" aria-hidden="false"
                      autocomplete="off"
                      novalidate>

                    <!--This field always exists. You should receive a file number with every task-->
                    <input type="hidden" id="fileNo" name="file_number" value="2644">

                    <!--We will create a single input for the full phone below. We'll insert the values into these fields after validation-->
                    <input type="hidden" id="custPhone" name="custPhone">
                    <!--Dont change this field! the options will be added by Bezeqint's form initialization-->
                    <select name="custAreaPhone" id="custAreaPhone" style="display: none" aria-hidden="true">
                        <option value="">בחר</option>
                    </select>

                    <!--Another field that every page has. "df." allows defining inputs with any name. There's usually a specific value they want for "df.<name>.title" -->
                    <!--"df.<name>" holds the fields value while "df.<name>.title" is the name of the field-->
                    <input type="hidden" name="df.campaign_name.title" value="Fiber_2021">
                    <input type="hidden" name="df.campaign_name" value="WAF">

                    <!--Fields for Salesforce:-->
                    <input type="hidden" name="df.mc_sk.title" value="mc_sk">
                    <input type="hidden" name="df.mc_sk" value="" id="mc_sk">

                    <input type="hidden" name="df.mc_campaign_code.title" value="mc_campaign_code">
                    <input type="hidden" name="df.mc_campaign_code" value="" id="mc_campaign_code">

                    <!--Dont remove any of the fields above this line-->


                    <div class="form-row">
                        <input type="text" id="form_fullname" class="form-input" name="custName" maxlength="30"
                               title="שם מלא"
                               placeholder="שם מלא:" data-parsley-whitespace="trim" required data-parsley-fullname>
                    </div>

                    <div class="form-row">
                        <input type="tel" id="form_fullphone" class="form-input" maxlength="10" title="טלפון"
                               onkeypress="return onlyNumbers(event);" placeholder="טלפון:" name="Phone" required
                               data-parsley-phone>
                    </div>

                    <!--Another example for a custom fields. We used to send it under remarks -->
                    <!--A hidden input defines the title for this field-->

                    <div class="form-row" id="client_select">
                        <fieldset class="radio-errors clearfix" id="aui_3_2_0_1136">
                            <div id="client">
                                <legend class="text-label">לקוח/ה של בזק בינלאומי?</legend>
                                <div class="desktop clearfix"></div>

                                <div class="inputs">
                                    <label for="form_checkbox_yes" class="styled-label yes" tabindex="0">
                                        <span class="label-text">כן</span>


                                        <input type="radio" id="form_checkbox_yes" name="customer" value="yes"
                                               class="radio-input"
                                               required>
                                    </label>

                                    <label for="form_checkbox_no" class="styled-label no" tabindex="0">
                                        <span class="label-text"> לא</span>


                                        <input type="radio" id="form_checkbox_no" name="customer" value="no"
                                               class="radio-input"
                                               required>
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="form-row submit">
                        <button type="submit" value="שלח" id="form_submit">
                            חזרו אלי <span class="biggerSign">&nbsp; &gt;&gt; </span>
                        </button>
                        <div class="loader"></div>
                    </div>

                </form>

            </div>

            <div id="thanks">
                <img class="logo-bbl desktop" src="src/images/bbl-black-logo.png" alt="Bezeq Int.">
                <span class="private">
                תודה, קיבלנו את הפרטים.
                נחזור אליך בהקדם עם הצעה משתלמת.
                </span>
                <div class="empty"></div>

<!--                <span class="business">תודה,<br>פרטיך התקבלו</span>-->
            </div>

        </section>

        <!-- MASKYOO EXAMPLE -->
        <!-- <a href="tel:03-3035134" id="c2c" class="button maskyoom">לשיחה עם נציג</a> -->
        <!-- <span class="num maskyood"  id="form_number" >03-303513section> -->

    </div>

    <div class="bottom-text mobile">
        <h4>החל מחודש 25 ב-140ש״ח לחודש. לא כולל ציוד והתקנה. השירות הינתן בהתאם להיתכנות בתשתית בזק. בכפוף תקנון  </h4>
    </div>
</div>

<iframe id="leadformtarget" name="leadformtarget" src="" frameborder="0" style="display: none"></iframe>


<link rel="stylesheet" href="dist/css/normalize.min.css">
<link rel="stylesheet" href="dist/css/style.css?v=CLIENT_VERSION&minifierType=css">