.main-container {
  background-image: url("../images/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $white;
  position: relative;

  .content-container {
    background-image: url("../images/elipse-black-mobile.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin-top: 26em;
    min-height: 46em;
    text-align: center;
    color: $white;

    .logo-bbl {
      height: 4em;
      width: auto;
      position: absolute;
      top: 0.5rem;
      left: 0.2rem;
      z-index: 5;
    }

    .page-header {
      .header-title {
        padding: 1.1em 1em .2em;
        font-size: 5em;
        line-height: 0.75em;
        letter-spacing: 2.2px;
        font-weight: 600;
        color: #68d7fc;
      }

      .fiber-logo-container {
        padding: 1em 0 2.5em;

        .fiber-logo {
          height: 5.9em;
          margin: 0 auto;
        }
      }


      .content-wrapper {
        position: relative;

        .line{
          width: 70%;
          border: 0;
          height: 4px;
          background-image: linear-gradient(to right, #73d1f620, #73d1f6, #73d1f620);
        }
        .content-title {
          font-size: 2.9em;
          line-height: 0.85em;
          font-weight: 400;
          color: #fff;
          padding: 0.2em 1em;
          position: relative;

        }

        .content-subtitle {
          padding: 0.5em 0.1em 0.5em;
          font-size: 3.5em;
          font-weight: 400;
          letter-spacing: 0.6px;

        }

        .content-description {
          font-size: 3.1em;
          padding-bottom: 1em;
          line-height: 1;

          .price {
            font-size: 3.8em;
            font-weight: bold;
            color: #68d7fc;
            line-height: 0.5;
            letter-spacing: -3px;

            .currency {
              font-size: 0.2em;
              font-weight: bold;
              letter-spacing: -7px;

            }
          }
        }
      }
    }

    .call {
      margin: 0 auto;
      position: relative;

      #c2c {
        text-decoration: none;
        background-color: #e10092;
        font-size: 3em;
        color: $white;
        padding: 0 0.5em 0 1.5em;
        border-radius: 0.2em;
        background-image: url("../images/phone.png");
        background-repeat: no-repeat;
        background-position: 16px 50%;
        width: fit-content;
        background-size: 0.5em;
        position: absolute;
        bottom: -0.5em;
        left: 4.9em;
      }
    }
  }


  @include desktop() {
    background-image: none;

    .content-container {
      background-image: url("../images/black-elipse-desk.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: right top;
      margin-top: 0;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $white;
      z-index: 2;
      min-height: 80vh;
      min-width: 35vw;


      .empty{
        display: block;
      }

      .page-header {
        display: flex;
        flex-direction: column;

        .header-title {
          padding: 0 0.8em;
          font-size: 2em;
          font-weight: 600;
        }

        .fiber-logo-container {
          padding: 1em 0.5em ;
          .fiber-logo {
            height: 3.1em;
          }
        }

        .content-wrapper {
          .content-title {
            font-size: 1.2em;
            padding: 0 1.2em;
          }

          .content-subtitle {
            padding: 0 3.1em ;
            font-size: 1.4em;
            font-weight: 400;
            line-height: 0.8;
          }

          .content-description {
            font-size: 1.1em;
            padding-top: 1em;

          }
        }
      }
      .bottom-text{
        padding: 0.75em;
        font-size: 0.8em;
        max-width: 85%;
        text-align: right;
        font-weight: 200;
        color: #f1f1f1;
      }
    }
  }
}

