
.form-container {
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
  padding: 0 5em 2em;
  position: relative;

  .form-text {
    font-size: 2.8em;

    .form-title {
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 1em;
      margin-top: 0.8em;
    }

    .form-subtitle {
      font-weight: 400;
    }
  }

  #lead_form {
    .form-row {
      padding-bottom: 1em;
      width: 100%;
      font-size: 1.5em;
      position: relative;

      input {
        border: black solid 2px;
        padding: 0.5em;
        box-sizing: border-box;
        width: 100%;
      }

      .parsley-errors-list {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        line-height: 1;
        color: red;
        text-align: right;
      }

      #client {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        font-size: 1.2em;
        font-weight: 400;
        justify-content: space-between;
        align-items: center;
        color: black;
        line-height: 1;

        .hidden-radio {
          display: none;
        }

        legend {
          font-size: 1.5em;
          color: #1e2529;
          horiz-align: center;

        }

        .inputs {
          display: flex;
          flex-grow: 1;
          width: 4.5em;
          justify-content: space-between;

          .styled-label {
            flex-grow: 1;
            text-align: center;
            color: black;
            padding: .6rem;
            border: #e10092 solid 1.5px;
            border-radius: 10px;
            margin-right: 1em;
            background-color: white;

            input {
              display: none;
            }

            &.checked {
              background-color: #e10092;
              color: $white;
            }
          }
        }

        .first {
          &::after {
            right: 1.05em;
          }
        }

        .text-label {
          font-weight: 400;
          margin-left: 0.3em;
          color: black;
          font-size: 1.1em;
        }

        .clearfix:before {
          content: "";
          display: table;
          clear: both;
        }
      }
    }


    .submit {
      position: relative;

      #form_submit {
        background-color: #e10092;
        border-radius: 10px;
        border: transparent 1px solid;
        color: white;
        font-weight: 400;
        font-size: 1.2em;
        padding: 0.2em 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .biggerSign {
          font-size: 1.5em;
        }
      }

      .loader {
        display: none;
        background: url('../images/loader.svg') top center no-repeat;
        background-size: cover;
        height: 0.5em;
        width: 0.5em;
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


  @include desktop() {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 1000px;
    flex: 1 1 45%;
    padding: 1em 1em;
    text-align: center;
    background-color: white;

    .logo-bbl {
      width: 10em;
    }
    .form-wrapper {
      overflow: auto;
      .form-text {
        font-size: 1.7em;
        line-height: 1;

        .form-title {
          font-size: 0.9em;
          font-weight: 700;
          margin: 0;
        }
        .form-subtitle{
          font-size: 0.9em;
          font-weight: 400;
        }
      }

      #lead_form {

        .form-row {
          font-size: 1em;
          padding-bottom: 0.4em;

          input {
            padding: 0.2em 0.5em;
          }

          .parsley-errors-list {
            color: red;
            width: initial;
            font-size: 0.6em;
          }

          #client {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0.4em;

            .parsley-errors-list {
              font-size: 0.5em;
              line-height: 0.5em;
              text-align: right;
            }

            legend {
              margin: 0;
              height: auto;
            }

            .text-label {
              font-size: 1em;
              font-weight: 400;
              letter-spacing: 1px;
              padding-bottom: 0.2em;
              margin: 0;
            }

            .inputs {
              width: 100%;

              .styled-label {
                margin-right: 0;
                padding: .3rem .6rem;
                border: black solid 2px;

                &.not-client {
                  margin-right: 1em
                }

                &.yes {
                  margin-left: 0.3em;
                }

                &.no {
                  margin-right: 0.3em;
                }

                &.checked {
                  border: solid 2px #e10092;
                }
              }
            }
          }
        }
        .submit {
            padding: 0.5em 0;
          #form_submit {
            font-size: 1.1em;
            padding: 0;
          }
        }
      }
    }
  }
}
.bottom-text{
  font-size: 1.8em;
  background-color: #262626;
  padding: 1em 2em 0.5em;
  color: white;
}


.loading {
  #form_submit {
    //display: none;
    visibility: hidden;
  }

  .loader {
    display: block !important;
  }
}
