.main-container {
    width: 100%;
    // Update height if needed
    display: flex;
    flex-direction: column;

    @include desktop() {
        // Update width if needed
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;


        .bg-container{
            background-image: url("../images/bg-desk.jpg");
            background-repeat: no-repeat;
            background-size: auto 100% ;
            background-position: top center;
            margin-right: -7em;
            width: 100%;
        }
    }
}